.description {
    float: right;  
    border: 1px solid black;
    width: 38%;
    margin-top: 40px; 
    border-radius: 5px;
    box-shadow: 0 0 0 2px #ccc;
}

.description-title {
    float: left;
    width: 35%;
    text-align: center;
}

.description-control-buttons {
    margin: 15px auto;
    width: 80%;
}

.description-control-buttons button {
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
    margin-bottom: 5px;
}

.description-control-buttons button:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

.description-about {
    float: right;
    width: 65%;
    font-size: 0.8em;
    text-align: left;
}

.description-img {
    width: 100%;
}
